<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    
    {{ content }}

      <p>
      <br><b><i>EDUCATION</i></b><br>
      <br />
      <i>B.S.</i>, Mathematics and Applied Mathematics &nbsp;&nbsp;&nbsp;&nbsp; 2015-2019
      <br />
      <i>Sun Yat-sen University</i>, Guangzhou, China
      <br />
      <strong>Major GPA:</strong> 3.7/4.0, &emsp; Overall GPA: 3.6/4.0
      </p>

      <p>
      <br><b><i>EXPERIENCE</i></b><br>
      <br />
      &#8226 Research Assistant, Carnegie Mellon University &nbsp;&nbsp;&nbsp;&nbsp; Aug.2019-
      <br />
      &#8226 Research intern, Microsoft Research Asia &nbsp;&nbsp;&nbsp;&nbsp; Feb.2019-Aug.2019    
      <br />
      &#8226 Visiting student, The Chinese University of Hong Kong (CUHK) &nbsp;&nbsp; Sept.2018-Dec.2018
      <br />
      &#8226 Engineer intern, Tencent-WeiXin Group &nbsp;&nbsp;&nbsp;&nbsp; Oct.2017-June.2018
      <br />
      &#8226 Visiting student, University of California, Los Angeles (UCLA) &nbsp;&nbsp; July.2017-Sept.2017
      </p>

      <p>
      <br><b><i>INVITED TALKS AND ACTIVITIES</i></b><br>
      <br />
      &#8226 Multi-Agent Reinforcement Learning Seminar, Microsoft &nbsp;&nbsp;&nbsp;&nbsp; Apr.2019
      <br />
      &#8226 Seminar for the elite Ph.D. students training program, CUHK &nbsp;&nbsp;&nbsp;&nbsp; Dec.2018
      <br />
      &#8226 Reinforcement Learning Theory Workshop, UCLA &nbsp;&nbsp;&nbsp;&nbsp; Aug.2017
      <br />
      &#8226 Category Theory Seminar, SYSU &nbsp;&nbsp;&nbsp;&nbsp; 2017-2018    
      <br />
      &#8226 Volunteer leader of campus public welfare bookshop, SYSU &nbsp;&nbsp;&nbsp;&nbsp; 2016-2018
      </p>

      <p>
      <br><b><i>TEACHING EXPERIENCE</i></b><br>
      <br />
      &#8226 Teaching Assistant of Discrete Mathematics (in English), SYSU &nbsp;&nbsp;&nbsp;&nbsp; 2017
      </p>

      <p>
      <br><b><i>HONORS AND AWARDS</i></b><br>
      <br />
      &#8226 Award of Excellence for Stars of Tomorrow Internship, Microsoft Research Asia, 2019
      <br />
      &#8226 Best Undergraduate Dissertation Award, Sun Yat-sen University (top 1) &nbsp;&nbsp;&nbsp;&nbsp; 2019
      <br />
      &#8226 Excellent Student Scholarship, Sun Yat-sen University (top 10%) &nbsp;&nbsp;&nbsp;&nbsp; 2015-2018
      <br />
      &#8226 Outstanding Prize of Undergraduate Research, Sun Yat-sen University (top 1%) 2016/2017
      <br />
      &#8226 First Prize of National Olympic Physics Competition &nbsp;&nbsp;&nbsp;&nbsp; 2014
      <br />
      &#8226 Second Prize of National Olympic Mathematics Competition &nbsp;&nbsp;&nbsp;&nbsp; 2014
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
